.f {
  position: relative;
  display: inline-block;
  padding: 12px 36px;
  margin: 10px;
  color: rgb(255, 255, 255);
  background: rgba(0,0,0,0.2d);
  border-radius: 40px;
  font-size: 18px;
  text-decoration: none;
  letter-spacing: 2px;
  overflow: hidden;
}
.spanni {
  position: absolute;
  background: #fff;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: animate 1s linear infinite;
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;
    opacity: 0.2;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}